:root {
 /*    --clr-neon: hsl(80 100% 61%);
    --clr-bg: hsl(0 0% 17%); */
    
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    width: 100%;
    background: transparent;
    font-family: "Balsamiq Sans", cursive;
    color: var(--clr-neon);
    margin: 0;
    padding: 0;
} 

h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
  

.via-verde {
    --tw-gradient-stops: var(--tw-gradient-from), #bdff38, var(--tw-gradient-to, rgba(16, 185, 129, 0));
}

.text-verde {
    color: hsl(80 100% 61%);
}

.bg-verde {
    background-color: hsl(80 100% 61%);
}

.hover\:text-verde:hover {
    color: hsl(80 100% 61%);
}

.hover\:bg-verde:hover {
    background-color: hsl(80 100% 61%);
}

.text-cinza {
    color: hsl(0 0% 17%);
}

.bg-cinza {
    background-color: hsl(0 0% 17%);
}

.hover\:text-cinza:hover {
    color: hsl(0 0% 17%);
}

.hover\:bg-cinza:hover {
    background-color: hsl(0 0% 17%);
}

.animation, .animation_layer {
    height: 1000px;
}

.animation {
    display: block;
    position: relative;
    z-index: 10;
}

.animation_layer {
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
}

.animation_layer.parallax {
    position: fixed;
}

#primo {
    background-image: url(../components/images/primo.png);
    z-index: 1;
}

#back2 {
    background-image: url(../components/images/back2.png);
    z-index: 1;
    translate: 0 20%;
}

#plano1 {
    background-image: url(../components/images/plano1.png);
    z-index: 1;
}

#plano2 {
    background-image: url(../components/images/plano2.png);
    z-index: 1;
}

#plano3 {
    background-image: url(../components/images/plano3.png);
    z-index: 1;
}

#plano4 {
    background-image: url(../components/images/plano4.png);
    z-index: 1;
    background-size: 100%;
    translate: 0 41%;
}

.contentando {
    text-align: center;
    align-items: center;
    translate: 0% 670%;
    
}

.text-gradient {
    background: #FFFFFF;
    background: linear-gradient(to bottom, #991b1b, #EAB308 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text-gradient2 {
    background: #FFFFFF;
    background: linear-gradient(to top, #991b1b, #e7b008 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bg-gradient {
    background: #FFFFFF;
    background: linear-gradient(to bottom, #991b1b, #EAB308 );
    -webkit-background-clip: padding-box;
    -webkit-text-fill-color: transparent;
}
.bg-gradient2 {
    background: #FFFFFF;
    background: linear-gradient(to top, #991b1b, #EAB308 );
    -webkit-background-clip: padding-box;
    -webkit-text-fill-color: transparent;
}

.navbar {
    background-color: #e7b00833;
    padding: 10px;
}

.rotate-360 {
    --tw-rotate: 360deg;
}

.burger_layer {
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    width: 100%;
    position: absolute;
}

.burger_layer.parallax {
    position: fixed;
}

.animation, .burger_layer {
    height: 1000px;
}

#burg1 {
    background-image: url(../components/images/burg1.png);
    z-index: 8;
    translate: 0 -20%;
}
#burg2 {
    background-image: url(../components/images/burg2.png);
    z-index: 7;
    translate: 0 -15%;
}
#burg3 {
    background-image: url(../components/images/burg3.png);
    z-index: 6;
    translate: 0 -10%;
}
#burg4 {
    background-image: url(../components/images/burg4.png);
    z-index: 5;
    translate: 0 -5%;
}
#burg5 {
    background-image: url(../components/images/burg5.png);
    z-index: 4;
    translate: 0 0%;
}
#burg6 {
    background-image: url(../components/images/burg6.png);
    z-index: 3;
    translate: 0 5%;
}
#burg7 {
    background-image: url(../components/images/burg7.png);
    z-index: 2;
    translate: 0 10%;
}
#burg8 {
    background-image: url(../components/images/burg8.png);
    z-index: 1;
    translate: 0 15%;
}

.z-9999 {
    z-index: 9999;
}

.no-style {
    list-style-type: none;
}

.basis-0	{flex-basis: 0px;}
.basis-1	{flex-basis: 0.25rem; /* 4px */}
.basis-2	{flex-basis: 0.5rem; /* 8px */}
.basis-3	{flex-basis: 0.75rem; /* 12px */}
.basis-4	{flex-basis: 1rem; /* 16px */}
.basis-5	{flex-basis: 1.25rem; /* 20px */}
.basis-6	{flex-basis: 1.5rem; /* 24px */}
.basis-7	{flex-basis: 1.75rem; /* 28px */}
.basis-8	{flex-basis: 2rem; /* 32px */}
.basis-9	{flex-basis: 2.25rem; /* 36px */}
.basis-10	{flex-basis: 2.5rem; /* 40px */}
.basis-11	{flex-basis: 2.75rem; /* 44px */}
.basis-12	{flex-basis: 3rem; /* 48px */}
.basis-14	{flex-basis: 3.5rem; /* 56px */}
.basis-16	{flex-basis: 4rem; /* 64px */}
.basis-20	{flex-basis: 5rem; /* 80px */}
.basis-24	{flex-basis: 6rem; /* 96px */}
.basis-28	{flex-basis: 7rem; /* 112px */}
.basis-32	{flex-basis: 8rem; /* 128px */}
.basis-36	{flex-basis: 9rem; /* 144px */}
.basis-40	{flex-basis: 10rem; /* 160px */}
.basis-44	{flex-basis: 11rem; /* 176px */}
.basis-48	{flex-basis: 12rem; /* 192px */}
.basis-52	{flex-basis: 13rem; /* 208px */}
.basis-56	{flex-basis: 14rem; /* 224px */}
.basis-60	{flex-basis: 15rem; /* 240px */}
.basis-64	{flex-basis: 16rem; /* 256px */}
.basis-72	{flex-basis: 18rem; /* 288px */}
.basis-80	{flex-basis: 20rem; /* 320px */}
.basis-96	{flex-basis: 24rem; /* 384px */}
.basis-auto	{flex-basis: auto;}
.basis-px	{flex-basis: 1px;}
.basis-0\.5	{flex-basis: 0.125rem; /* 2px */}
.basis-1\/2	{flex-basis: 50%;}
.basis-1\/3	{flex-basis: 33.333333%;}
.basis-2\/3	{flex-basis: 66.666667%;}
.basis-1\/4	{flex-basis: 25%;}
.basis-2\/4	{flex-basis: 50%;}
.basis-3\/4	{flex-basis: 75%;}
.basis-1\/5	{flex-basis: 20%;}
.basis-2\/5	{flex-basis: 40%;}
.basis-3\/5	{flex-basis: 60%;}
.basis-4\/5	{flex-basis: 80%;}
.basis-1\/6	{flex-basis: 16.666667%;}
.basis-2\/6	{flex-basis: 33.333333%;}
.basis-3\/6	{flex-basis: 50%;}
.basis-4\/6	{flex-basis: 66.666667%;}
.basis-5\/6	{flex-basis: 83.333333%;}
.basis-1\/12	{flex-basis: 8.333333%;}
.basis-2\/12	{flex-basis: 16.666667%;}
.basis-3\/12	{flex-basis: 25%;}
.basis-4\/12	{flex-basis: 33.333333%;}
.basis-5\/12	{flex-basis: 41.666667%;}
.basis-6\/12	{flex-basis: 50%;}
.basis-7\/12	{flex-basis: 58.333333%;}
.basis-8\/12	{flex-basis: 66.666667%;}
.basis-9\/12	{flex-basis: 75%;}
.basis-10\/12	{flex-basis: 83.333333%;}
.basis-11\/12	{flex-basis: 91.666667%;}
.basis-full	{flex-basis: 100%;}

#burguer1 {
    background-image: -webkit-linear-gradient(right, rgba(255,255,255,0) 20%, rgba(153, 27, 27, 1) 80%), url(../components/images/burguer1.jpg);
    z-index: 1;
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: -20px -40px; */
    opacity: 0.8; 
    transition: opacity 1s ease-in-out; /* Adicionando a transição */
}

#burguer1:hover {
    opacity: 1; /* imagem fica opaca ao passar o mouse */
}


#burguer2 {
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 20%, rgba(153, 27, 27, 1) 80%), url(../components/images/burguer2.jpg);
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: -20px -40px; */
    opacity: 0.8; 
    transition: background-image 5s ease-in-out, opacity 1s ease-in-out; /* Adicionando a transição */
}

#burguer2:hover {
    opacity: 1; /* imagem fica opaca ao passar o mouse */
}

#burguer3 {
    background-image: -webkit-linear-gradient(right, rgba(255,255,255,0) 20%, rgba(153, 27, 27, 1) 80%), url(../components/images/burguer3.jpg);
    z-index: 1;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: -20px -40px; */
    opacity: 0.8; 
    transition: background-image 5s ease-in-out, opacity 1s ease-in-out; /* Adicionando a transição */
}

#burguer3:hover {
    opacity: 1; /* imagem fica opaca ao passar o mouse */
}

#burguer4 {
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 20%, rgba(153, 27, 27, 1) 80%), url(../components/images/burguer4.jpg);
    z-index: 1;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: -20px -40px; */
    opacity: 0.8; 
    transition: background-image 5s ease-in-out, opacity 1s ease-in-out; /* Adicionando a transição */
}

#burguer4:hover {
    opacity: 1; /* imagem fica opaca ao passar o mouse */
}

#burguer5 {
    background-image: -webkit-linear-gradient(right, rgba(255,255,255,0) 20%, rgba(153, 27, 27, 1) 80%), url(../components/images/burguer5.png);
    z-index: 1;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: -20px -40px; */
    opacity: 0.8; 
    transition: background-image 5s ease-in-out, opacity 1s ease-in-out; /* Adicionando a transição */
}

#burguer5:hover {
    opacity: 1; /* imagem fica opaca ao passar o mouse */
}

#burguer6 {
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0) 20%, rgba(153, 27, 27, 1) 80%), url(../components/images/burguer6.jpg);
    z-index: 1;
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: -20px -40px; */
    opacity: 0.8; 
    transition: background-image 5s ease-in-out, opacity 1s ease-in-out; /* Adicionando a transição */
}

#burguer6:hover {
    opacity: 1; /* imagem fica opaca ao passar o mouse */
}